@media (prefers-color-scheme: light){
    body{
        background-color: var(--body-bg-light);
    }
    #container{
        background-color: var(--container-bg-light);
    }
    #logo{
        color: var(--logo-color-light);
    }
    #input-new-item{
        box-shadow: var(--element-shadow-light);
    }
    #add-new-item{
        background-color: var(--add-item-bg-light);
        box-shadow: var(--element-shadow-light);
    }
    
    .item{
        background-color: var(--element-bg-light);
        box-shadow: var(--element-shadow-light);
    }
}
@media (prefers-color-scheme: dark){
    body{
        background-color: var(--body-bg-dark);
    }
    #container{
        background-color: var(--container-bg-dark);
    }
    #logo{
        color: var(--logo-color-dark);
    }
    #input-new-item{
        box-shadow: var(--element-shadow-dark);
    }
    #add-new-item{
        background-color: var(--add-item-bg-dark);
        box-shadow: var(--element-shadow-dark);
    }
    .item{
        background-color: var(--element-bg-dark);
        box-shadow: var(--element-shadow-dark);
    }
}

@media screen and (max-width: 880px) {
    :root{
        --container-bg-light: rgba(255, 255, 255, 0);
        --body-bg-light: rgb(255, 255, 255);
        --element-bg-light: rgb(255, 255, 255);
        --add-item-bg-light: rgb(79, 160, 79);
        --logo-color-light: rgb(0, 0, 0);
        --element-shadow-light: 1px 1px 1px 1px rgb(172, 169, 169);
    
        --container-bg-dark: rgba(255, 255, 255, 0);
        --body-bg-dark: rgb(114, 114, 114);
        --element-bg-dark: rgb(255, 255, 255);
        --add-item-bg-dark: rgb(88, 79, 168);
        --logo-color-dark: rgb(255, 255, 255);
        --element-shadow-dark: 1px 1px 1px 1px rgb(85, 80, 80);
    }
    #container{
        margin: 0!important;
        border: 0!important;
        border-radius: 0!important;
        box-shadow: none!important;
    }
    #add-new-item:hover, .item-delete:hover{
        transform: none!important;
    }
}
@media screen and (min-width: 880px){
    :root{
        --container-bg-light: rgb(199, 197, 197);
        --body-bg-light: rgb(255, 255, 255);
        --element-bg-light: rgb(255, 255, 255);
        --add-item-bg-light: rgb(79, 160, 79);
        --logo-color-light: rgb(0, 0, 0);
        --element-shadow-light: 1px 1px 1px 1px rgb(143, 139, 139);
    
        --container-bg-dark: rgb(77, 77, 77);
        --body-bg-dark: rgb(165, 165, 165);
        --element-bg-dark: rgb(255, 255, 255);
        --add-item-bg-dark: rgb(88, 79, 168);
        --logo-color-dark: rgb(255, 255, 255);
        --element-shadow-dark: 1px 1px 1px 1px rgb(66, 65, 65);
    }
}

body{
    margin: 0;
    font-family: sans-serif;
}
#header{
    width: 95%;
    height: auto;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    font-size: 5.4vh;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 7vh;
}
#icon{
    width: 15vh;
    height: 15vh;
}
#container{
    box-shadow: 1px 1px 1px 1px rgb(150, 148, 148);
    max-width: 860px;
    border-radius: 15px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
input{
    outline: none;
    cursor: pointer;
    border: 0;
}
#input-new-item{
    width: 95%;
    height: 5.5vh;
    font-size: 2vh;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(83, 82, 82);
    margin-bottom: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#add-new-item{
    border: 1px solid rgb(83, 82, 82);
    color: aliceblue;
    font-weight: 500;
    font-size: 2.1vh;
    padding: 2vh;
    border-radius: 12px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1.5%; /* Hell yeah code */ 
}
.item{
    border: 1px solid rgb(83, 82, 82);
    width: 95%;
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 1.5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.item-name{
    font-size: 2.2vh;
    height: auto;
    margin-left: 1vh;
    text-align: left;
    line-break: anywhere; /* That wasn't necessary before... */
    width: 95%;
    font-weight: 600;
}
.item-delete{
    color: red;
    background-color: white;
    font-weight: 700;
    padding: 0;
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#input-new-item:hover{
    transform: scale(1.02);
    transition: transform 0.2s;
}
#add-new-item:hover, .item-delete:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
}
