@media screen and (max-width: 1000px) {
    :root{
        --container-width: 100vw;

        --container-bg-light: rgba(255, 255, 255, 0);
        --body-bg-light: rgb(224, 214, 214);
        --element-bg-light: rgb(255, 255, 255);
        --add-item-bg-light: rgb(88, 79, 168);
        --logo-color-light: rgb(0, 0, 0);
        
        --container-bg-dark: rgba(255, 255, 255, 0);
        --body-bg-dark: rgb(80, 76, 76);
        --element-bg-dark: rgb(255, 255, 255);
        --add-item-bg-dark: rgb(88, 79, 168);
        --logo-color-dark: rgb(255, 255, 255);
    }
    #add-new-item:hover, .item-delete:hover{
        transform: none!important;
    }
    #header{
        transform: scale(1.8)!important;
    }
    #container{
        margin-top: 20px!important;
        padding: 0px!important;
        margin-left: 0px!important;
        margin-right: 0px!important;
        border: none!important;
        box-shadow: none!important;
        border-radius: 0px!important;
    }
    #enter-new-item{
        width: 92vw!important;

    }
    .item{
        width: 92vw!important;
    }
}
@media screen and (min-width:1001px) {
    :root{
        --container-width: 80vw;

        --container-bg-light: rgb(214, 211, 211);
        --body-bg-light: white;
        --element-bg-light: white;
        --add-item-bg-light: rgb(88, 79, 168);
        --logo-color-light: rgb(0, 0, 0);

        --container-bg-dark: rgb(77, 77, 77);
        --body-bg-dark: rgb(165, 165, 165);
        --element-bg-dark: white;
        --add-item-bg-dark: rgb(88, 79, 168);
        --logo-color-dark: rgb(255, 255, 255);
    }
}
:root{
    font-size: 16px;
}
body{
    margin: 0;
    background-color: var(--body-bg-light);
    font-family: sans-serif;
}
#header{
    width: 30%;
    height: 5%;
    margin-bottom: 5%;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 60px;
    color: var(--color-light);
}
#icon{
    width: 7vw;
    height: 7vw;
}
#container{
    background-color: var(--container-bg-light);
    box-shadow: 1px 1px 1px 1px rgb(150, 148, 148);
    width: var(--container-width);
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
input{
    outline: none;
    cursor: pointer;
    border: 0;
}
#enter-new-item{
    width: 97%;
    height: 5vh;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(128, 124, 124);
    background-color: var(--element-bg-light);
    margin-bottom: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#add-new-item{
    background-color: var(--add-item-bg-light);
    box-shadow: 1px 1px 1px 1px rgb(109, 107, 107);
    color: aliceblue;
    font-weight: 500;
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 3%;
}
.item{
    background-color: var(--element-bg-light);
    /* border: 1px solid rgb(114, 112, 112); */
    box-shadow: 1px 1px 1px 1px rgb(172, 171, 171);
    width: 97%;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.item-name{
    margin-left: 10px;
    text-align: left;
    width: 95%;
    font-weight: 600;
}
.item-delete{
    color: red;
    background-color: white;
    font-weight: 700;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#enter-new-item:hover{
    transform: scale(1.02);
    transition: transform 0.2s;
}
#add-new-item:hover, .item-delete:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
}
